body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pokemon-detail-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.pokemon-main-image {
    max-height: 300px;
    object-fit: contain;
    margin: 20px auto;
}

h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.badge {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.progress-bar {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}


/* Đảm bảo bố cục nằm ngang */
.ms-auto {
    display: flex; /* Kích hoạt Flexbox */
    align-items: center; /* Canh giữa theo trục dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}
.search-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#pokemon-search {
    flex: 1; 
}
#suggestions {
    top: 80%;
    left: 0; 
    width: 100%; 
    max-height: 200px; 
    overflow-y: auto; 
    background-color: white; 
    border: 1px solid #ced4da; 
    border-radius: 0 0 5px 5px; 
}

#suggestions li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 80%;
}