/* Không cần bổ sung nhiều CSS vì tất cả đã có trong Tailwind CSS */

#suggestions {
    display: none; /* Ban đầu ẩn gợi ý */
    max-height: 200px;
    overflow-y: auto;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f1f1f1;
}
.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  
  .visible {
    max-height: 500px; 
    opacity: 1;
    overflow: auto;
  }
   