/* Không cần bổ sung nhiều CSS vì tất cả đã có trong Tailwind CSS */

#suggestions {
    display: none; /* Ban đầu ẩn gợi ý */
    max-height: 200px;
    overflow-y: auto;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f1f1f1;
}
